* {
    box-sizing: border-box;
  }
body {
    font-family: "Amatic SC", cursiva;
    margin: 0 ;
  }
  .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

  }
    .Busca-texto {
        width: 200px;
        height: 35px;
        float: center; 
        background-position: left;
        background-repeat: no-repeat; 
        background-color: #5E17EB;
        border: 2px solid #000;
        border-radius: 15px;
        text-indent:25px;
    }
  header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
  }
  main {
    width: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    columns: 6;
    color: black;
  }
  .Receita-da-nutri {
    margin: 0 auto;
    width: auto;
  }
  h2 {
    font-size: xx-large;  
  }
  nav {
    margin-right:20px;
  }
  .nav-link {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 16px;
  }
  .footer {
    background-color: #FFB03A;
    color: rgb(0, 0, 0);
    padding: 10px 20px 30px;
  }
  
  .footer a {
    color: rgb(8, 8, 8);
    text-decoration: none;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer .container div:first-of-type {
    width: 30%;
  }
  
  .barra {
    padding: 10px 10px;
    text-align: center;
    background-color: #5E17EB;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    position: sticky;
    top: 0;
  }

  .contatos {
    display: flex;
  flex-direction: column;
  }
  .redes {
    display: inline-block;
  margin: 0 20px;

}

.icones {
  display: inline-block;
  margin: 0 50px;
}
ul {
  list-style-type: none;
}

.receita {
  columns: 2;
 }
 
.imgReceita {
    width: 70%;
    height: 80%;
    }
    
.imgReceita2 {
  display: block;
  
}    

.nomeReceita span {
  display: block;      
}

.nomeReceita {
  font-size: 6mm;
  color: black;    
}

.span {
  font-size: 10mm;
}