<!--rodapé-->

    <footer class="footer">
        <div class="container">  
          <div>
            <a href="#" class="footerLink">Quem somos</a>
          </div>
          
          <div class="redes">
              <section id="textoRedes"><h2>Acompanhe-nos nas redes sociais</h2></section>
            
            <a target="_blank"
            href="https://www.facebook.com/vivabem/">
            <img src="./img/facebook.png"  width="50" alt="facebook"> </a>
            <a target="_blank"
            href="https://www.instagram.com/vivabem/">
            <img src="./img/instagram.png" width="50" alt="instagram"> </a>
            <a target="_blank"
            href="https://www.linkedin.com/vivabem/">
            <img src="./img/linkedin.png" width="50" alt="linkedin"> </a>
          </div>

          <div class="contatos">
            <p class="textoContatos" >Entre em contato conosco<p>
            <ul>                    
                <li>
                    <a href="#" class="footer-link"><img src="./img/whatsapp.png" width="40" alt="whatsapp"></a>
                    <p class="footer-link">(11) 99999-9999</p>
                </li>
                <li> 
                    <a href="#" class="footer-link"><img src="./img/formato-de-envelope-preto-com-verso-fechado.png" width="20" alt="e-mail"></a>  
                    <p class="footer-link">contato@vivabem.com.br</p>  
                </li>
            </ul>
    
          </div>
        </div>
      </footer>
