<header class="container">

  <a href="home"><img src="/img/logo-viva-bem.jpeg" width="120" class="logo" alt="Logo"></a>

  <form action="">
          <input class="Busca-texto" type="text">
      </form>
  <nav>
    <a class="nav-link" href="/login">Login</a>
  </nav>
  <a href="/carrinho">
    
  <img src="/img/vista-lateral-vazia-do-carrinho-de-compras.png" width="40" alt="Carrinho"></a>
</header> 


