<header class="container">

  <img src="/img/logo-viva-bem.jpeg" width="120" alt="Logo">

  <form action="">
          <input class="Busca-texto" type="text">
      </form>
  <nav>
    <a class="nav-link" href="">Login</a>
  </nav>
  <a href="./Carrinho.html">
  <img src="/img/vista-lateral-vazia-do-carrinho-de-compras.png" width="40" alt="Carrinho"></a>
</header> 