<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>
 <!--inicio assinatura-->
 <main>
   <section>
  <div class="assinatura">
    <p class="tituloassinatura">Assinatura Viva Bem</p>
     <p class="boxviva">Box viva!</p><p>Compromisso com sua saúde</p>
      <img class="box" src="/img/viva-box.png" alt="box viva">
  </div>
  <div class="assinatura2">
    <p>ESCOLHA OS PRODUTOS,</p>
    <p>DEFINA A FREQUÊNCIA,</p>
    <p>APROVEITE VANTAGENS EXCLUSIVAS.</p>
    <p>Você programa a sua compra, garante regularidade e facilidade na entrega dos seus produtos preferidos e pode cancelar quando quiser.</p>
    <p>É só escolher os itens, definir a frequência de entrega e aproveitar os benefícios da nutrição saudável, com vantagens exclusivas.</p>
  </div>
  <section class="barra2">
      <section class="fundo">
          <p>FREQUÊNCIA PROGRAMADA</p>
          <p> Escolha a melhor</p>
          <p>frequência para receber</p>
          <p> seus produtos.</p>
      </section>
      <section class="fundo">
            <p>10% DE DESCONTO</p>
            <p>Nos produtos assinados.</p>
            <p>Na primeira compra, 10% OFF em todo o carrinho.</p>
            <p>Valor mínimo: R$ 50 por entrega.</p>
      </section>
      <section class="fundo">
                     <p>FRETE GRÁTIS</p>
                      <p>Para assinaturas</p>
                      <p>acima de R$ 150*</p>
                      <p>*de uma mesma frequência.</p>
      </section>
  </section>
    <section class= "botaodeassinatura">
         <a href="#"><p>FAÇA SUA ASSINATURA PERSONALIZADA</p></a>
      </section>
  </section>
 </main>
  
  <%- include('./partials/footer'); %>
</body>
</html>