<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>
  <!-- categoria de produtos-->
      <main>
          <section class="barracategoria">
              <h2><strong>PRODUTOS</strong></h2>
            </section>
            <section class="produtos">
              <section class="item">
                <a href="#"><img src="/img/cacau-em-po.jpg" width="250" alt="Cacau em p칩"></a>
                <p>Cacau em p칩<br>R$ 119,98</p>
              </section>
                <section class="item">
                  <a href="#"><img src="/img/omega3.jpg" width="250" alt="Caixa de mirtilo"></a>
                  <p>Omega 3 - DHA<br>R$ 99,98</p>
                </section>
                  <section class="item">
                    <a href="#"><img src="/img/purple.png" width="250" alt="Calcio com vitamina D3"></a>
                    <p>Purple Ageless<br>R$ 107,98</p>
                    
                  </section>
                    <section class="item">
                      <a href="#"><img src="/img/alpha-family.png" width="250" alt="Eritrol"></a>
                      <p>Alpha Family<br>R$ 159,98</p>
                    </section>
                    <section class="item">
                      <a href="#"><img src="/img/beauty-care.png" width="250" alt="Cacau em p칩"></a>
                      <p>Beauty Care<br>R$ 59,98</p>
                    </section>
                      <section class="item">
                        <a href="#"><img src="/img/alpha-men.png" width="250"  alt="Caixa de mirtilo"></a>
                        <p>Alpha Men <br>R$ 127,98</p>
                      </section>
                        <section class="item">
                          <a href="#"><img src="/img/calcio.jpg" width="250" alt="Calcio com vitamina D3"></a>
                          <p>C치lcio com vitamina D3<br>R$ 79,98</p>
                        </section>
                          <section class="item">
                            <a href="#"><img src="/img/astaxantina.png" width="250" alt="Eritrol"></a>
                            <p>Astaxantina<br>R$ 128,90</p>
                          </section>
                          
          </section>
      </main>
      <%- include('./partials/footer'); %>
</body>
</html>