<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>  
      <main>
          <div class="container-pai">
            <div class="row">

              <div class="col-6">
                <h2>Produto</h2>
                <a href="#" class="itemProdutoCarrinho">
                  <img src="/img/whey-chocolate.png" width="80" alt="Tapioca">
                  <div class="imgItemProdutoCarrinho">
                    <span>Whey Chocolate 450g</span>                    
                  </div></a> 
              <br>
                <a href="#" class="itemProdutoCarrinho">
                  <img src="/img/ageless-serum.png" width="80" alt="Tapioca">
                  <div class="imgItemProdutoCarrinho">
                    <span>Ageless Serum 30ml</span>
                  </div></a>
              <br>
                <a href="#" class="itemProdutoCarrinho">
                  <img src="/img/omega-dha.png" width="80" alt="Tapioca">
                  <div class="imgItemProdutoCarrinho">
                    <span>Omega 3 1000mg</span>
                  </div></a>
              </div>

              <div class="col-3">
                <h2>Preço</h2>
                <div class="infoItemProdutoCarrinho">
                  <span>R$ 109,98</span>
                </div>

                <div class="infoItemProdutoCarrinho">
                  <span>R$ 109,98</span>
                </div>

                <div class="infoItemProdutoCarrinho">
                  <span>R$ 109,98</span>
                </div>
              </div>

              <div class="col-3">
                <h2>Quantidade</h2>
                <div class="infoItemProdutoCarrinho">
                  <span> <button class="valor">-</button> 2 <button class="valor">+</button></span>
                </div>

                <div class="infoItemProdutoCarrinho">
                  <span> <button class="valor">-</button> 1 <button class="valor">+</button></span>
                </div>

                <div class="infoItemProdutoCarrinho">
                  <span> <button class="valor">-</button> 1 <button class="valor">+</button></span>
                </div>
              </div>
          </div>           
          </div>

          <div class="container-pai2">
            <div class="row2">
              
                <div class="col-6">
                  <h2>Subtotal</h2>                
                </div>

                <div class="col-3">                
                  <h2>R$ 109,98</h2>               
                </div>
              
                <div class="col-3">          
                  
                    <button class="continuar">Continuar</button>
                </div>                
                
            </div>           
          </div>       
                  
          
      </main>
      
      <%- include('./partials/footer'); %>
</body>
</html>