<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>
  <main>
    <img class="dicaVitamina" src="/img/omega-3-beneficios2.jpg" height="300" alt="Vitaminas">
      <p class="dicaTitulo"> 8 motivos para começar a consumir ômega 3 já!</p>
    <section class="receita">
      <div class="dica">
          <p> Que o ômega 3 é tudo de bom a gente já tá careca de saber, né? <br> <br>
            Mas você sabia que ele pode trazer trazer beneficios para a nossa saúde em todos os momentos da nossa vida? <br>
            Confira 8 motivos para você começar a consumir ômega 3 e trazer vários benefícios para todas as fases da sua vida: <br><br>
            - Diminui a inflamação. <br>
            - Protege contra doenças cardiovasculares.<br>
            - Evita a formação de coágulos.<br>
            - Ajuda a combater a depressão.<br>
            - Combate a asma. <br>
            - Previne doenças auto-imunes.<br>
            - Ajuda a controlar a glicemia. <br>
            - Melhora o funcionamento cerebral.
          </p>
          <br>
          <br>
      </div>
      <div class="produtos">
        <div class="produtos">
          <p class="tituloProdutoDica">Para comprar já:</p>
          <a href="#" class="produtoDica">
            <img src="/img/omega3.jpg" width="80" alt="Multivitaminico">
            <div class="infoProdutoReceita">
              <span>NATURAL, DHA CONCENTRADO, 1.000 MG.</span>
              <span>R$: 99,90</span>
            </div>
          </a> 
          
        </div>
        <button class="adicionar">Adicionar ao carrinho</button>
        <button class="continuar" type="submit"><a href="/receitas3">Receitas</a></button>
        </div>
    </section>
      
  </main>
      <%- include('./partials/footer'); %>
</body>
</html>