<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  <title>Viva Bem</title>
</head>

<body>
  <%- include('./partials/header'); %>
    <img src="./img/IMG-3987 1.png" width="220" alt="dicaNutri">
    <img src="./img/vitamina d 2.png" width="180" alt="vitaminaD2">
    <img src="./img/omega-3_20012_l 2.png" width="180" alt="omega3">
    <img src="./img/vitaminas - dicas da nutri 1.png" width="180" alt="vitaminasDicaNutri">
    <p>Você está com suas vitaminas em dia?</p>
    <p>Motivos para você começas a consumir ômega 3 e trazer vários benefícios para todas as fases da sua vida!</p>
    <p>Quais os benefícios da vitamina D? Entenda tudo sobre ela.</p>

    <%- include('./partials/footer'); %>
    
</body>

</html>