<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>

      <main>
          <h1>FINALIZAR COMPRA</h1>
          <div class="finalizarCompra">
                                                
                    <section class="endereco">
                      <h2>Endereço</h2>
                      <form action="">
                        <label for="destinatario"> Destinatário</label>
                        <input type="text" size="50%"> 
                        <label for="cep">CEP</label>
                        <input type="text">
                        <br>
                        <label for="logradouro">Logradouro</label>
                          <input type="text" size="50%">
                        <label for="numero">Número</label>
                          <input type="text" size="2%">
                        <label for="complemento">Complemento</label>
                          <input type="text" size="8%">
                        <br>
                        <label for="bairro">Bairro</label>
                          <input type="text">
                        <label for="cidade">Cidade</label>
                          <input type="text">
                        <label for="estado">Estado</label>
                          <select name="estado" id="estado">
                            <option value="null"> </option>
                            <option value="acre">AC</option>
                            <option value="alagoas">AL</option>
                            <option value="amapa">AP</option>
                            <option value="amazonas">AM</option>
                            <option value="bahia">BA</option>
                            <option value="ceara">CE</option>
                            <option value="espirito santo">ES</option>
                            <option value="goias">GO</option>
                            <option value="maranhao">MA</option>
                            <option value="mato grosso">mt</option>
                            <option value="mato grosso do sul">MS</option>
                            <option value="minas gerais">MG</option>
                            <option value="para">PA</option>
                            <option value="paraiba">PB</option>
                            <option value="parana">PR</option>
                            <option value="pernambuco">PE</option>
                            <option value="piaui">PI</option>
                            <option value="rio de janeiro">RJ</option>
                            <option value="rio grande do norte">RN</option>
                            <option value="rio grande do sul">RS</option>
                            <option value="rondonia">RO</option>
                            <option value="roraima">RR</option>
                            <option value="santa catarina">SC</option>
                            <option value="sao paulo">SP</option>
                            <option value="sergipe">SE</option>
                            <option value="tocantins">TO</option>
                            <option value="distrito federal">DF</option>
                          </select>
                        <label for="pais">País</label>
                        <select name="pais" id="pais">
                          <option value="null"> </option>
                          <option value="brasil">BR</option>
                        </select>
                      </form>
                      <hr>
                    </section>

                    <section class="frete">
                      <h2>Frete</h2>
                      <form action="">
                        <label for="">Espresso</label>
                          <input type="radio" name="frete" id="espresso">
                        <label for="">Normal</label>
                          <input type="radio" name="frete" id="normal">
                          <br>
                        <label for="valor-frete">Valor</label>
                          <input type="text-area">
                      </form>
                          <hr>
                    </section>

                    <section class="pagamento">
                      <h2>Pagamento</h2>
                      <form action="">
                        <label for="boleto">Boleto</label>
                          <input type="radio" name="pagamento" id="boleto">
                        <label for="cartão">Cartão</label>
                          <input type="radio" name="pagamento" id="cartao">
                          <br>
                        <label for="">Número</label> 
                          <input type="text" name="numero-cartao" id="" size="60%">
                        <label for="">Validade</label> 
                          <input type="text" name="validade-cartao" id="" size="20%">
                        <br>
                        <label for="">Nome do titular</label> 
                          <input type="text" name="nome-titular" id="" size="60%">
                        <label for="">Código de Segurança</label> 
                          <input type="text" name="cvv" id="">                          
                      </form>
                      <hr>
                    </section>

                    <section class="total">
                      <h2>Total</h2>
                      <output>Valor Total</output>
                      <section>R$ 49,90</section>                      
                    </section>

                    <script>
                      function funcao2()
                      {
                      alert("Pedido #0001 criado com sucesso! Você vai receber a confimação no seu e-mail em alguns instantes.");
                      }
                    </script>
                    
               <button type="submit" onclick="funcao2()" class="continuar"><a href="/home">Finalizar</a></button>
          </div>       
                  
          
      </main>
      
      <%- include('./partials/footer'); %>
</body>
</html>