<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>

      <main>
          <h1>FINALIZAR COMPRA</h1>
          <div class="finalizarCompra">
                                                
                    

                    

                    <section class="pagamento">
                      <h2>Pagamento</h2>
                      <form action="">
                        <label for="boleto">Boleto</label>
                          <input type="radio" name="pagamento" id="boleto">
                        <label for="cartão">Cartão</label>
                          <input type="radio" name="pagamento" id="cartao">
                          <br>
                        <label for="">Número</label> 
                          <input type="text" name="numero-cartao" id="" size="60%">
                        <label for="">Validade</label> 
                          <input type="text" name="validade-cartao" id="" size="20%">
                        <br>
                        <label for="">Nome do titular</label> 
                          <input type="text" name="nome-titular" id="" size="60%">
                        <label for="">Código de Segurança</label> 
                          <input type="text" name="cvv" id="">                          
                      </form>
                      <hr>
                    </section>

                    <section class="total">
                      <h2>Total</h2>
                      <output>Valor Total</output>
                      <section>R$ 49,90</section>                      
                    </section>

                    <script>
                      function funcao2()
                      {
                      alert("Pedido #0001 criado com sucesso! Você vai receber a confimação no seu e-mail em alguns instantes.");
                      }
                    </script>
                    
               <button type="submit" onclick="funcao2()" class="continuar"><a href="/home">Finalizar</a></button>
          </div>       
                  
          
      </main>
      
      <%- include('./partials/footer'); %>
</body>
</html>