
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
    <%- include('./partials/header') %>
  <!-- categoria de produtos-->
      <main>
          <section>
              <a href="/assinatura"><img class="bannerHome" src="img/Dicas para uma vida mais saudável2.png" alt="Banner Viva Box"></a>
            </section>

            <section id="textoHome">
              <p class="textoHome">Frete Grátis para compras acima de R$ 300,00! </p>
              <P class="textoHome">Entregamos em todo o Brasil!</p>
            </section>

            <section class="imagemHome">
             <a href="/buscaProdutos"><img src="/img/nutrientesESuplementosNaturaiis.PNG"  class="bannerHome" alt=""></a> 
            </section>

            <section class="imagemHome">
              <img src="/img/rituaisDiarios.PNG" class="bannerHome" alt="rituais diarios">
            </section>
            
           
      </main>
      <!--fim da categoria dos produtos-->

      <!--rodapé-->
      <%- include('./partials/footer'); %>
</body>
</html>