<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>  

      <main>
        <div class="login">
          <h2>Efetue o login</h2>
          <form action="">
            <label for="email">E-mail</label>
              <input type="email" name="email" id="">
              <br><br>
            <label for="senha">Senha</label>
              <input type="password" name="senha" id="">
              <br><br>
            <button class="continuar" type="submit"><a href="/home">Entrar</a></button>
            
          </form>  
          <br> 
          <a href="">Esqueceu a senha?</a>
          <br><br>
          <a href="/cadastroUsuario">Cadastre-se</a>
        </div>
          
      </main>
      
      <%- include('./partials/footer'); %>
</body>
</html>