<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header') %>
  
  <h1 id="quemSomos">Quem Somos</h1>
  <p id="p1">A viva bem É MAIS DO
    QUE UMA EMPRESA:
    É UM PROPÓSITO
     nascemos com o propósito de facilitar a prática de um estilo de vida saudável
    a escolha de um estilo saudável te traz benefícios hoje, amanhã e por décadas...
    </p>
    <p id="p2">Oferecer produtos de qualidade máxima, contribuindo para a prática de um estilo de vida saudável, e harmonioso.
        Este é um dos nossos objetivos.
        </p>
        <p id="p3">Para nós, embora a meta seja importante, reconhecemos também a importância do caminho que trilhamos no dia a dia neste rumo.</p>

      <p id="p4">É fundamental também que a nossa jornada na empresa seja agradável, e para isto nos esforçamos cada vez mais para criar um ambiente de trabalho onde o respeito, o companheirismo e a valorização das pessoas e do seu empenho é uma realidade.</p>
        
    
    <img src="/img/equipe quem somos 1.png" width="240" alt="imgQuemSomos" id="imgU">
    <%- include('./partials/footer'); %>
</body>
</html>