<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>
  <main>
    <img class="Receita-da-nutri" src="./Viva_Bem/generator/public/stylesheets/imagens/IMG-3986.jpg" width="70%" height="300" alt="Receitas">  
    <section class="barra">
        <div class="fundo"></div>
         <nav class="categorias">
            <ul>
              <li>Café da manhã
                <ul>
                  <a href="receita1"><li>panqueca de whey (Chocolate)</li></a>
                  <a href="receita2"><li>Smoothie de Mirtilo</li></a>
                </ul>
              </li>
              <li>Almoço
                <ul>
                  <a href="receita3"><li>Salada Fit</li></a>
                  <a href="receita4"><li>Frango com Laranja</li></a>
                </ul>
              </li>
              <li>Lanche
                <ul>
                  <a href="receita5"><li>muffin de Banana</li></a>
                  <a href="receita6"><li>Delícia de Granola</li></a>
                </ul>
              </li>
            </ul>
         </nav>
           
      </section>
      <br>
           <!--imagens dos produtos-->
       <section class="receita">
        <div>
          <a href="receita1"><img class="imgReceita" src="./img/panqueca-whey.jpeg"  width="30%" alt="Panqueca de Whey"></a>
            <p class="nomeReceita"><span> Panqueca de whey ( Chocolate )</span>
            </p>
            <div class="imgReceita2">
              <a href="receita2"><img src="./Viva_Bem/generator/public/stylesheets/imagens/granola com mirtilo.jpg" width="230"  alt="granola com mirtilo"></a>
              <p class="nomeReceita"><span> Delícia de Granola</span>
              </p>
            </div>
                </div>
              <br> 
        <div class="imgReceita3">
          <a href="receita3"><img src="./Viva_Bem/generator/public/stylesheets/imagens/muffin de banana.jpg" width="400" alt="muffin de Banana"></a>
          <p class="nomeReceita"><span> muffin de Banana</span>
          </p>
          </div>
          <div class="imgReceita4">
            <a href="receita1"><img src="./Viva_Bem/generator/public/stylesheets/imagens/smoothie de mirtilo.jpg" width="400" alt="smoothie de mirtilo"></a>
          <p class="nomeReceita"><span> Smoothie de Mirtilo</span>
          </p>
          </div>
          
      </section>
      <!--final imagem dos produtos-->
</main>
 <br>
 <%- include('./partials/footer'); %>
</body>
</html>