<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/style2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  <title>Viva Bem</title>
</head>

<body>
  <%- include('./partials/header'); %>

    <h1>Delícia de granola com mirtilo</h1>
    <img src="./img/granola com mirtilo 2.png" width="420" alt="granolaMirtilo">
    <img src="./img/caixa de mirtilo 2.png" width="220" alt="caixaMirtilo2">
    <img src="./img/granola 1.png" width="220" alt="granola1">
    <img src="./img/mct 1.png" width="220" alt="mct1">
    <p>Ingredientes:
      3/4 xícara (85g) de amêndoas picadas.
      1 xícara de (125g) nozes picadas.
      1/2 xícara (66,5g) de sementes de girassol picadas.
      1/4 xícara (20g) de flocos de amêndoa picados.
      1 colher de sopa de sementes de chia.

      1/2 xícara (48g) de farinha de amêndoa.
      1/2 xícara (30g) de coco desidratado.
      1 ovo grande.
      1/4 xícara (62,5 ml) de óleo MCT.
    </p>
    <p>Usando um liquidificador
      de alta velocidade,
      bata o óleo, ovo, coco, farinha e a chia,
      acrescente os demais ingredientes
      em um pote decore e sirva
    </p>
    <p>Nutrição
      Calorias: 558
      Gordura: 53g
      Carboidratos: 7g
      Proteína: 12,9g</p>

    <button ADICIONAR AO CARRINHO> ADICIONAR AO CARRRINHO</button>
    <%- include('./partials/footer'); %>
</body>

</html>