<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
  <%- include('./partials/header'); %>
      <main>
          <section class="receita">
          <div>
              <img class="imagemReceita" src="./img/muffin-de-banana.jpg" alt="Muffin de Banana">
              <p class="fazerReceita">Usando uma tigela grande, adicione todos os ingredientes secos da lista a partir das nozes e misture bem para incorporar. <br>
                Usando outra tigela, adicione todos os ingredientes úmidos e misture bem para combinar. <br>
                Despeje os ingredientes molhados na tigela que contém os ingredientes secos e misture tudo.<br>
                Em seguida, dobre as nozes picadas, despeje a mistura em uma forma de muffin com seis cavidades e coloque a forma no forno pré-aquecido a 180°. <br>
                Asse os muffins por vinte minutos</p>
                
              <img class="imagemReceita" src="../public/img/muffin-de-banana.jpg" alt="Muffin de Banana">
              <p class="fazerReceita">Usando uma tigela grande, adicione todos os ingredientes secos da lista a partir das nozes e misture bem para incorporar. Usando outra tigela, adicione todos os ingredientes úmidos e misture bem para combinar. Despeje os ingredientes molhados na tigela que contém os ingredientes secos e misture tudo.
                Em seguida, dobre as nozes picadas, despeje a mistura em uma forma de muffin com seis cavidades e coloque a forma no forno pré-aquecido a 180°. Asse os muffins por vinte minutos</p>
              <div class="produtos">
                <br> <br>
                <a href="#" class="produtoReceita">
                <img src="../public/img/adoçante-eritritol.jpg" width="80"  alt="Adoçante eritritol">
                  <div class="infoProdutoReceita">
                    <span>Adoçante eritrol 300g</span>
                    <span>R$: 31,98</span>
                  </div>
                </a>  
                <br> <br>
                <a href="#" class="produtoReceita">
                  <img src="../public/img/farinha-de-amendoas.jpg" width="80" alt="Farinha de amendoas">
                  <div class="infoProdutoReceita">
                    <span>Farinha de amêndoa 250g</span>
                    <span>R$: 54,90</span>
                  </div>
                </a> 
              </div>
          </div>
          <br> <br> <br> <br> <br> <br> <br>
          <div class="ingredientes">
            <p class="tituloReceita">Muffin de Banana</p>
            <p class="passosReceita"><span> Ingredientes:</span>
                <span>1 xícara de farinha de amêndoa </span> 
                <span>1/3 xícara de creme de leite.</span>
                <span>1/2 xícara de nozes picadas.</span>
                <span>/3 xícara de eritritol em pó.
                <span>1 ovo grande.</span>
                <span>1 1/2 colheres de sopa de óleo de coco.</span>
                <span>3  bananas maduras.</span>
                <span>1/4 colher de chá de bicarbonato de sódio.</span>
                <span>1/4 colher de chá de sal a gosto.</span>
            </p>
            <p class="nutricionalReceita">Nutrição
                <span>Calorias: 210</span>
                <span>Gordura: 19g</span>
                <span>Carboidratos: 4,5g</span>
                <span>Fibra: 2,5g</span>
                <span>Proteína: 7g</span>
            </p>
            <button class="adicionar" >Adicionar ao carrinho</button>
            </div>
        </section>
          
      </main>
      <%- include('./partials/footer'); %>     
</body>
</html>