<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Viva Bem</title>
</head>
<body>
    <header class="container">
      <a href="/home"><img src="/img/logo-viva-bem.jpeg" width="120" alt="Logo"></a>

        <form action="">
                <input class="Busca-texto" type="text">
            </form>

        <nav>
          <a class="nav-link" href="/login">Login</a>
        </nav>
        <a href="./Carrinho.html">
        <img src="/img/vista-lateral-vazia-do-carrinho-de-compras.png" width="40" alt="Carrinho"></a>
      </header>  

      <main>
        <div class="login">
          <h2>Para redefinir a senha confirme seu e-mail abaixo</h2>
          <form action="">
            <label for="email">E-mail</label>
              <input type="email" name="email" id="">
              <br><br>
            <label for="senha">Corfirme o e-mail</label>
              <input type="email" name="email" id="">
              <br><br>

              <script>
                function funcao3()
                {
                alert("E-mail de redefinição de senha enviado! Confira sua caixa de entrada.");
                }
              </script>

            <button class="continuar" onclick="funcao3()" type="submit"><a href="/login">Enviar</a></button>
          </form>  
          <br> 
          <a href="./login">Voltar para login</a>
          
        </div>
          
      </main>
      
        
          <%- include('./partials/footer'); %>
</body>
</html>