*{
    box-sizing: border-box;
 }

body {
    
    font-family: "Amatic SC", cursiva;
    margin: 500;
 }
 
 
 h1{
    text-align: center;
    margin: 1%;
    font-size: 400%;
 }
 #p1 {
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
    font-size: x-large;
 }
 #p2 {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
    font-size: x-large;
 }
 #p3 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
    font-size: x-large;
 }
 #p4 {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
    font-size: x-large;
 }
 #imgU{
    display: block; 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
 }
 
 main {
 width: 800px;
 margin: 24 auto;
 text-align: center;
 display: flex;
 flex-direction: column;
 columns: 9;
 color: black;
  }
  
 ul {
  list-style-type: none;
}
