* {
    box-sizing: border-box;
  }
body {
    font-family: "Amatic SC", cursiva;
    margin: 0 ;
  }
  .container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;

  }
    .Busca-texto {
      width: 200px;
      height: 35px;
      float: center; 
      background-position: left;
      background-repeat: no-repeat; 
      background-color: #fff;
      border: 2px solid #000;
      border-radius: 15px;
      text-indent:25px;
    }
  header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
  }
  main {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction:column;
    columns: 6;
    color: black;
  }

  .login {
    display: flexbox;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
  }

  .dicaTitulo {
    font-weight: bolder;
    font-size: 15mm;
  }

  .dica {
    text-align: left;
    font-size: 6mm;
    font-weight: bolder;
  
  }

  .tituloProdutoDica {
    font-size: 8mm;
    font-weight: bolder;
  }

  .produtoDica {
    display: inline-flex;
    margin: 20px 10px;
   
  }

  .infoProdutoDica span {
    display: block;
  }   

  .receita {
      columns: 2;
     }
     
    .imagemReceita {
        width: 90%;
        height: 80%;
        }

    .fazerReceita{
        font-size: 5mm;
        
    }

    
    .row {    
      display: flex;  
      flex-direction: row;
      float: right;   
      justify-content: space-evenly;
      border-bottom: 2px solid gray;   
    }

    .row2 {    
      display: inline-flex;  
      flex-direction: row;
      float: right;  
      text-align: left;
      }

    .produtoReceita {
      display: inline-flex;
      margin: 20px 0;
    }

    .infoProdutoReceita span {
      display: block;
    }    

    .infoProdutoReceita {
      font-size: 6mm;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }

    .ingredientes {
      margin: 10px;
    }

  .tituloReceita {
    font-size: 12mm;
    font-weight: bold;
  }

  .passosReceita span {
      display: block;      
  }

  .passosReceita {
      font-size: 6mm;
      color: black;    
  }
  
  .nutricionalReceita span {
      display: block;
  }

  .nutricionalReceita {
    font-size: 5mm;
  }

  .adicionar {
      background-color: #24D66B;
      width: 60%;
      height: 80px;
      border: none;
      font-family: "Amatic SC", cursiva;
      font-size: 26px;
      margin-top: 100px;
      margin-bottom: 140px;
      border-radius: 15px;    
  }

   h2 {
    font-size: xx-large;  
  }

   .itemProdutoCarrinho {
    display: inline-flex;
  }

  .infoItemProdutoCarrinho span {
    display: block;
  }    

  .infoItemProdutoCarrinho {
    font-size: 6mm;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 50px;
  }

  .imgItemProdutoCarrinho {
    font-size: 6mm;
    font-weight: bold;
    text-decoration: 5none;
    color: black;
  }
  
  .col-6 {
    padding-right: 90px;
  }

  .col-3 {
    padding-left: 80px;
    align-items: baseline;
  }

  .valor {
    background: white;
    border-radius: 15px;    
  }

  .subtotal {
    padding-left: 70px;
  }

  #subtotalTitulo {
    text-align: left;
  }

  .valorTotalCarrinho {
    font-size: 6mm;
    font-weight: bold;
    text-decoration: none;
    color: black;
    }

    .continuar {
      background-color: #24D66B;
      width: 100%;
      height: 40px;
      border: none;
      font-family: "Amatic SC", cursiva;
      font-size: 26px;
      margin-top: 20px;
      margin-bottom: px;
      border-radius: 15px;    
  }

  .infoEnderecoEntrega span {
    display: block;
  }    

  .infoEnderecoEntrega {
    font-size: 6mm;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 50px;
  }

  .finalizarCompra {    
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: left;
   }

   .informacoesProduto {
    margin: 10px;
  }

  .nomeProduto {
  font-size: 12mm;
  font-weight: bold;
}

  .descricaoProduto span {
    display: block;      
}

  .descricaoProduto {
    font-size: 7mm;
    color: black;  
    font-weight: bold;  
}

  .quantidadeProduto {
    font-size: 6mm;
  }

  .nutricionalProduto span {
    display: block;
}

  .nutricionalProduto {
  font-size: 5mm;
}

   .adicionarProduto {
    background-color: #24D66B;
    width: 90%;
    height: 80px;
    border: none;
    font-family: "Amatic SC", cursiva;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 15px; 
    align-self: center; 
   }

  nav {
    margin-right:20px;
  }
  .nav-link {
    font-weight: bold;
    font-size: 8mm;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 16px;
  }
.footer {
    background-color: #FFB03A;
    color: rgb(0, 0, 0);
    padding: 5px 10px 15px;
    margin-top: 7px;
    min-width: 500px;
    max-width: 1680px;
    }
  
.footer a {
    color: rgb(8, 8, 8);
    text-decoration: none;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    justify-items: center;
    flex-wrap: wrap;
  } 

.footerLink {
      font-size: 6mm;
      font-weight: bold;
      display: inline;      
  }

.footer-link {
  align-items: flex-end;
    margin-left: 10px;
    margin-bottom: 1px;
    font-size: 4mm;
  }

  .footer .container div:first-of-type {
    width: 30%;
  }

  .redes ul li {
    margin-left: 20px;
    display: inline-block;
  }
  
  .contatos {
    display: inline-flex;
    flex-direction: column;
    float: right;
  }

  .textoContatos {
    display: inline-flex;
    flex-direction: row;
    font-size: 6mm;
    font-weight: bold;
    color: black;
  }

  .infoContatos {
    display: inline-block;
  }

  .redes {
  display: inline-block;
  margin: 0 0px;
  justify-content: center;
  align-self: center;

  
}

.icones {
  display: inline-block;
  margin: 0 50px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  display: inline-flex;
  }